.cards-container > .default-content-wrapper {
    margin-bottom: 70px;
}

.cards-container > .default-content-wrapper p {
    font-size: 12px;
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
}

.cards ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.card {
    border: 1px solid var(--light-color);
    border-radius: 8px;
    box-shadow: 0 8px 16px #00000026;
    margin-top: 32px;
    margin-bottom: 50px;
    padding: 32px 22px;
}

.card-image {
    font-size: 20px;
    text-align: center;
    margin-top: -75px;
}

.card-image img {
    border-radius: 8px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    max-width: 250px;
}

.card-image h2 {
    font-size: inherit;
    font-weight: 400;
}

.card-image p {
    font-weight: 600;
}

.card-content li {
    border-bottom: 1px solid var(--light-color);
    display: flex;
}

.card-content li p {
    flex: 1;
}

.card-content li p:first-child {
    flex: 0 0 16.666%;
}

.card-links {
    text-align: center;
    font-size: 14px;
}

@media (max-width: 1199px) {
    .card-content {
        margin-bottom: 16px;
    }
    .card-links ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    .card-links li:first-child {
        flex: 0 0 100%;
    }
}

@media (min-width: 1200px) {
    .card {
        display: flex;
    }

    .card-image {
        flex: 0 0 250px;
    }

    .card-content {
        flex: 1;
        padding: 0 20px;
    }

    .card-links {
        display: flex;
        flex: 0 0 225px;
        flex-direction: column;
        justify-content: flex-end;
    }

    .card-links li:not(:last-child) {
        margin-bottom: 16px;
    }

    .card-links a.button {
        display: block;
    }
}
