.header ul, .header ol {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-wrapper {
    background-color: var(--brand-color);
    border-bottom: 5px solid var(--secondary-color);
    height: 75px;
}

.navbar {
    align-items: center;
    display: flex;
    width: 100%;
}

.navbar .section:nth-child(2) {
    display: flex;
    justify-content: end;
    flex-basis: auto;
    width: 100%;
}

.primary-nav-wrapper {
    background-color: var(--light-color);
}

.primary-nav a:any-link {
    color: var(--dark-color);
    display: block;
    font-size: 16px;
    padding: 21px 2.5px;
}

.primary-nav a.active {
    color: #141414;
    border-bottom: 4px solid var(--brand-color);
    font-weight: 700;
}

.navbar ul a:any-link {
    color: #fff;
}

@media (width >= 768px) {
    .navbar ul a {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}


@media (width >= 1200px) {
    .primary-nav li+li {
        margin-left: 40px;
    }
}
