.categories-wrapper {
    position: relative;
}

.categories-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: var(--light-color);
}

.categories-container h3 {
    text-align: center;
    margin-bottom: 40px;
}

.categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories a:any-link {
    text-decoration: none;
}

.categories .active {
    font-weight: 600;
    position: relative;
}

.categories .active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--link-color);
    z-index: 1;
}

.categories li img {
    display: block;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .categories ul {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        max-width: 1126px;
        margin: 0 auto;
    }
}
